.imagen{
	position:absolute;
	top:100;
	left:15px;
	width:200px;
}

.texto{
	position: absolute;
	top: 0;
	left: 200px;
	width: 400px;
}

.titulo{
	font-weight: bolder;
	font-size: 20px;
}

.boton{
	position: absolute;
	left: 50px;
	background-color: #E3E1B8; 
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}

.lista{
	list-style-type: none;
}