.imagen{
	position:absolute;
	top:100;
	left:15px;
	width:200px;
}

.texto{
	position: absolute;
	top: 0;
	left: 200px;
	width: 400px;
}

.titulo{
	font-weight: bolder;
	font-size: 25px;
}

.year{
	font-weight: lighter;
	font-size: 13px;
}

.lista{
	list-style-type: none;
}

.movies .lista li{
	height: 300px;
}

